
.vessel-grid-container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }
  
  /* Popup genişliğini artır */
  .modal-lg {
    width: 30%;
  }
  
.modal-backdrop {
    z-index: 1040 !important;
  }
  
  .modal-content {
    z-index: 1050 !important;
  }
  
  .modal-dialog {
    position: relative;
    display: table; /* This is important for centering the modal vertically */
    overflow-y: auto;
  }
/* Genel stil ayarları */
.sidebar .nav-link {
  font-size: 14px;
  padding: 5px 10px;
}

.sidebar .nav-treeview > .nav-item > .nav-link {
  font-size: 12px;
  padding: 5px 20px;
}

/* Alt menüler için stil */
.sidebar .nav-treeview .nav-treeview > .nav-item > .nav-link {
  font-size: 11px;
  padding: 5px 30px;
}


