<app-blank>
  <app-section>
    <div class="container">
      <h2>Drydock Planning</h2>

      <form [formGroup]="drydockPlanningForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label *ngIf="canEdit" for="vessel">Vessel</label>
          <select id="vessel" *ngIf="canEdit" formControlName="vesselId" class="form-control" (change)="onVesselChange($event)" [disabled]="!canAdd">
            <option value="" disabled selected>Select Vessel</option>
            <option *ngFor="let vessel of vessels" [value]="vessel.id">{{ vessel.vesselName }}</option>
          </select>
        </div>
        <!-- Diğer form kontrolleri burada -->
        <button *ngIf="canEdit" type="submit" class="btn btn-primary" [disabled]="!canAdd">Add</button>
      </form>

      <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th>Shipyard</th>
            <th>Planned Start</th>
            <th>Planned End</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Tasks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let drydockPlanning of drydockPlannings">
            <td>{{ drydockPlanning.shipyardName }}</td>
            <td>{{ drydockPlanning.plannedStartDate | date }}</td>
            <td>{{ drydockPlanning.plannedEndDate | date }}</td>
            <td>{{ drydockPlanning.startDate | date }}</td>
            <td>{{ drydockPlanning.endDate | date }}</td>
            <td>
              <button class="btn btn-info" (click)="openEditModal(drydockPlanning, editContent)" [disabled]="!canEdit">Edit</button>
              <button class="btn btn-danger" (click)="drydockPlanning.id !== undefined && onDelete(drydockPlanning.id)" [disabled]="!canEdit">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-section>

  <ng-template #editContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Edit Drydock Planning</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm">
        <div class="form-group">
          <label for="editVessel">Vessel</label>
          <select id="editVessel" formControlName="vesselId" class="form-control" [disabled]="!canEdit">
            <option *ngFor="let vessel of vessels" [value]="vessel.id">{{ vessel.vesselName }}</option>
          </select>
        </div>
        <!-- Diğer edit form kontrolleri burada -->
        <button type="button" class="btn btn-primary" (click)="onUpdate(modal)" [disabled]="!canEdit">Save changes</button>
      </form>
    </div>
  </ng-template>
</app-blank>
