<app-blank>
    <app-section>
      <div class="container">
        <h2>Auxiliary Engine Performance - Daily</h2>
  
        <!-- Add button to open the modal -->
        <button class="btn btn-primary mb-3" (click)="openModal()">Add Performance</button>
  
        <!-- Modal Structure -->
        <div class="modal fade" id="performanceModal" tabindex="-1" aria-labelledby="performanceModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <!-- modal-lg class added to increase width -->
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="performanceModalLabel">Add/Edit Performance</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
              </div>
              <div class="modal-body">
                <!-- Form content for adding/editing performance -->
                <form>
                  <!-- Genel Bilgiler -->
                  <fieldset>
                    <legend>General Data</legend>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="vessel">Vessel</label>
                        <select id="vessel" [(ngModel)]="performance.vessel" name="vessel" class="form-control">
                          <option value="" disabled selected>Select a Vessel</option>
                          <option *ngFor="let vessel of vessels" [value]="vessel.vesselName">{{vessel.vesselName}}</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="date">Form Date</label>
                        <input id="date" type="datetime-local" [(ngModel)]="performance.date" name="date" class="form-control">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="personnel">Personnel</label>
                        <input id="personnel" type="text" [(ngModel)]="performance.personnel" name="personnel" class="form-control">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="engineNo">Engine No</label>
                        <select id="engineNo" [(ngModel)]="performance.engineNo" name="engineNo" class="form-control">
                          <option value="" disabled selected>Select an Engine No</option>
                          <option *ngFor="let number of engineNumbers" [value]="number">Engine No: {{number}}</option>
                        </select>
                      </div>
                    </div>
                  </fieldset>
  
                  <!-- Cylinder Count Selection -->
                 
  
                  <!-- Teknik Veriler -->
                  <fieldset>
                    <legend>Technical Data</legend>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="averageSpeed">Average Speed T/C</label>
                        <input id="averageSpeed" type="number" [(ngModel)]="performance.averageSpeed" name="averageSpeed" class="form-control">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="engineLoad">Engine Load</label>
                        <input id="engineLoad" type="number" [(ngModel)]="performance.engineLoad" name="engineLoad" class="form-control">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="engineKW">Engine KW</label>
                        <input id="engineKW" type="number" [(ngModel)]="performance.engineKW" name="engineKW" class="form-control">
                      </div>
                    </div>
                  </fieldset>

                  
                  <!-- Silindir Verileri -->
                  <fieldset>
                    <legend>Technical Data</legend>
                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label for="coolingWaterTemp">Cyl. Cooling Water Temp.</label>
                        <input id="coolingWaterTemp" type="number" [(ngModel)]="performance.coolingWaterTemp" name="coolingWaterTemp" class="form-control">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="luboilTemp">Cyl. Luboil Temp.</label>
                        <input id="luboilTemp" type="number" [(ngModel)]="performance.luboilTemp" name="luboilTemp" class="form-control">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="coolingWaterPress">Cyl. Cooling Water Press.</label>
                        <input id="coolingWaterPress" type="number" [(ngModel)]="performance.coolingWaterPress" name="coolingWaterPress" class="form-control">
                      </div>
                      <div class="form-group col-md-3">
                        <label for="luboilPress">Cyl. Luboil Press.</label>
                        <input id="luboilPress" type="number" [(ngModel)]="performance.luboilPress" name="luboilPress" class="form-control">
                      </div>
                    </div>
                  </fieldset>
                  
                  <div class="form-group">
                    <label for="cylinderCount">Number of Cylinders</label>
                    <input id="cylinderCount" type="number" [(ngModel)]="cylinderCount" name="cylinderCount" class="form-control" (change)="updateCylinders()">
                  </div>
                  
                  <!-- Egzoz Gaz Sıcaklıkları -->
                  <fieldset>
                    <legend>Cylinder No Exhaust Gas Temp. (C)</legend>
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Cylinder No</th>
                          <th scope="col">Exh. Gas. Temp. (C)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let cylinder of performance.cylinderExhaustGasTemps">
                          <td>{{cylinder.cylinderNo}}</td>
                          <td><input type="number" [(ngModel)]="cylinder.exhaustGasTemp" name="exhaustGasTemp" class="form-control"></td>
                        </tr>
                      </tbody>
                    </table>
                  </fieldset>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="save()">Save</button>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Recorded Performances Table -->
        <h3>Recorded Performances</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Vessel</th>
              <th>Personnel</th>
              <th>Place</th>
              <th>Date</th>
              <th>Engine No</th>
              <th>Tasks</th>
              <th>Edit</th> <!-- Yeni kolon -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let performance of performances">
              <td>{{ performance.vessel }}</td>
              <td>{{ performance.personnel }}</td>
              <td>{{ performance.place }}</td>
              <td>{{ performance.date | date: 'dd.MM.yyyy' }}</td>
              <td>{{ performance.engineNo }}</td>
              <td><i class="fas fa-check-circle" *ngIf="performance.tasksCompleted"></i></td>
              <td>
                <!-- Kalem simgesi ile buton -->
                <button class="btn btn-link p-0 m-0" (click)="editPerformance(performance)">
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-section>
  </app-blank>
  